{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-3">
        <div class=" m-auto card p-4  col-lg-4 col-md-4 col-sm-12">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group text-center">
                    <input type="submit" value="Sign Up" class="btn btn-outline btn-sm btn-primary">
                </div>
                <smal class="small d-block text-center"> Already account <a href="{% url 'site:login' %}">Login here</a> </small>
            </form>
        </div>
    </div>
{% endblock content %}